---
import PreloadFonts from "./PreloadFonts.astro";
import Icons from "@components/head/Icons.astro";
import OpenGraph from "@components/head/OpenGraph.astro";
import { site } from "@data/config.mjs";

import "@styles/global.scss";

const { title, description = title } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <PreloadFonts />

  <Icons />

  <!-- Metadata -->
  <meta name="generator" content={Astro.generator} />
  <title>{`${title} | ${site.title}`}</title>
  <meta name="description" content={description} />

  <!-- Browser UI color on mobile -->
  <meta name="theme-color" content="#ffffff" />

  <OpenGraph title={title} description={description} />

  <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
  <!-- Sitemap -->
  <link rel="sitemap" href="/sitemap-index.xml" />
</head>
